h2 {
  margin-left: 0px;
}

.two-columns {
  align-items: start;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}


  

ul, li, p { 
  text-align: justify;
}


 #content ul, #content li, #content ol {
  
  padding-right: 5px;
  margin: 5px;
 }
 
 @media only screen and (max-width: 798px) {
 #content ul, #content li, #content ol {
  
  padding-right: 0px;
 }
 }

