
.sidebar-title {
  text-align: center;

}

.two-columns {
  align-items: start;
}

p { 
 text-align: justify; 
  width: 160%;
  }

h2 {
  margin-left: 0px;
}


.right-align {
  font-size: 120px;
  float: right;
}

/* CSS Code for devices < 800px */
@media (max-width: 800px) {
  p { 
  
  width: 140%;
  }
}
