.sidebar-title {
  text-align: center;
}

.two-columns {
  align-items: start;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-left: 0px;
}

p { 
  text-align: justify;
  width: 160%;
}

.right-align {
  font-size: 120px;
  float: right;
}

/* CSS Code for devices < 800px */
@media (max-width: 800px) {
p {
  width: 140%;
}
  
}