/* -------------------------------------------------------- */
/* VARIABLES */
/* -------------------------------------------------------- */

/* Variables are used like this: var(--text-color) */
:root {


  /* Text: */
  --font: Helvetica, sans-serif;
  --heading-font: Helvetica, sans-serif;
  --font-size: 14px;
  
    /* Text Colors: */
  --text-color: #000000;
  --sidebar-text-color: #000000;
  --link-color: #ffffff;
  --link-color-hover: #ffffff;


  /* Other Settings: */
  --margin: 10px;
  --padding: 20px;
  --border: none;
  --background-color: #09493d;
  --round-borders: 20px;
  --sidebar-width: 200px;
}

/* -------------------------------------------------------- */
/* BASICS */
/* -------------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  justify-content: center;
  min-height: 100vh;
  font-size: var(--font-size);
  color: var(--text-color);
  font-family: var(--font);
  line-height: 1.2;
  font-family: Helvetica;
  padding: var(--margin);
  margin-top: -5px;
  background: #444  
}

::selection {
  /* (Text highlighted by the user) */
  background: rgba(0, 0, 0, 0.2);
}

mark {
  /* Text highlighted by using the <mark> element */
  text-shadow: 1px 1px 4px var(--link-color);
  background-color: inherit;
  color: var(--text-color);
}

/* Links: */
a {
  text-decoration: none;
}

a,
a:visited {
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-color-hover);
  text-decoration: none;
}

/* -------------------------------------------------------- */
/* CONTENT */
/* -------------------------------------------------------- */

.mobile-sidebar {
margin-top: 10px; padding-top: 5px; padding-bottom: 0;
}

/* COLUMNS: */

.two-columns {
  display: flex;
  align-items: center;
}

.two-columns > * {
  flex: 1 1 0;
  margin: 0;
}

.two-columns > *:first-child {
  padding-right: 0.75em;
}

.two-columns > *:last-child {
  padding-left: 0.75em;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column2 {
  float: left;
  width: 16.66%;
  padding: 5px;
}

.column3 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  padding: 20px;
  margin-top: 20px;
  }

/* -------------------------------------------------------- */
/* My Stuff */
/* -------------------------------------------------------- */
    
/* Header */

.header-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0px 0px;
  max-width: 1000px;
  top: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

 #header-title {
  background-color: #e5e7eb; /* RGB color */
  position: relative;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 20px 20px;
  max-width: 1000px;
  padding-top: 20px;
  padding-bottom: 20px;
} 

.header-title {
  font-family: var(--heading-font);
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 15px;
}

/* Content */

 #content {
  background-color: #e5e7eb; /* RGB color */
  position: relative;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px 20px 20px 20px;
  max-width: 1000px;
  padding-bottom: 5px;
  margin-top: 10px;
}

aside {
   background: #e5e7eb; /* RGB color 
}

hr {
  height: 2px; /* Set the desired thickness */
  background-color: #e6e6e6; /* Set the desired color */
  border: none; /* Remove the default border */
}

h1 {
  text-align: center; 
  font-weight: bold; 
  padding-top: 20px;
  font-size: 2.0em;
}

h2 { 
  font-weight: bold;
  margin-bottom: -30px;
  margin-left: 30px;
  padding-top: 5px;
  font-size: 1.8em;
}

h3 {
 text-align: center; 
}

h4 {
  font-size: 1.3em;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
  font-weight: bold;
}

h5 {
  margin-top: 10px;
  font-size: 1.0em;
  font-weight: bold;
}

.profile-link {
  color: black;
  padding-top: 5px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

/* Button */

.container {
  display: flex; /* Enables CSS flexbox */
  justify-content: center; /* Centers horizontally */
  border-radius: 20px;
}

button {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 9px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 4px 2px;
  border-radius: 10px;
  width: 160px;
}


.button {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 9px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 4px 4px;
  border-radius: 10px;
}

button:hover {
  background-color: #4467c4;
  color: white;
}

.button:hover {
  background-color: #4467c4;
  color: white;
}

.button-mom {
  width: 74px;
  padding-left: 10px;
  padding-right: 30px;
}
    
.button-dad {
  width: 74px;
  padding-left: 22px;
  padding-right: 30px;
}
    
.button-twin {
  width: 74px;
  padding-left: 20px;
  padding-right: 20px;
}
    
/* Scroll To Top*/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #8B0000; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: 60px;
  height: 60px;
}

#myBtn:hover {
  background-color: #008B8B; /* Add a dark-grey background on hover */
}
 
/* Images*/

.pfp-image {
  border-radius: 50%;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.circle-img {
  padding: inherit;
  margin: auto;
  width: 200px;
  display: block;
  Border-radius: 50%;
}
  
.post-img {
  margin: auto;
  display: block;
  width: 97%;
  border-radius: 20px;
  margin-bottom: 10px;
}
  
.post-scroll {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}
 
.playlist-img {
  height: 12em;
  width: auto;
  border-radius: 20px 20px 0 0;
}

.playlist-img2 {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.profile-img {
  border-radius: 50%;
}
  
.image-holy {
  display: block;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  height: auto;
  border-radius: 20px 20px 20px 20px;
}

.image-fool {
  display: block;
  width: 70%;
  height: auto;
  margin: auto;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 20px;
}

.image-chakra {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px 20px 20px 20px;
}
  
.inline-image {
  display: block;
  width: 93%;
  height: auto;
  border-radius: 20px 20px 20px 20px;
  margin: auto;
  margin-bottom: 5px;
}

/* Hide Mobile Version On Desktop */
#div2 {
    display: none;
}

#div3 {
    display: block;
}

#div4 {
    display: none;
}
  
@media screen and (max-width: 800px) {
#div3 {
  display: none;
}
  
#div4 {
  display: block;
}

}
/* Hide element if the viewport width is 600px or less */
@media screen and (max-width: 600px) {
  #div1 {
    display: none;
  }
  #div2 {
    display: block;
}

/* Mobile */

@media only screen and (max-width: 800px) {
  

h2 {
  font-size: 1.8em;
  }  

.header-image {
  top: -10px;
}
    
#header-title {
  margin-top: -10px;
}
  
}

/* CSS Code for devices < 798px */
@media (max-width: 798px) {
header { 
  margin-top: -20px;
}

}








